.secondnavbar {
    background-color: #ffffff;

  }
  .custom-grid-button {
 
    border-radius: 4px;
   border: 1px solid #e0e0e0;
    background-color: white;
    font-size: medium;
    display: flex;
    align-items: center;
   
    
  }