<div class="searchNavbar">

    <span ><input type="search" class="search-field justify-content-center" placeholder="Search"></span>
    
      <div class="divFor-sortby-filter-excel-addrisk">
        <span class="flex-spacer"></span>
     
    
        <div class="filter">
          <img class="filterIcon ms-3 my-auto" src="../../../assets/Images/icons/filter.png" alt="Image filter">
          <span class="filtertext">Filter</span>
        </div>   
        <button mat-flat-button color="primary" class="addRiskButton exportExcelButton" (click)="openDialog()"><mat-icon>add_circle_outline</mat-icon>Add Changes
        </button>
        </div>
    </div>