<div class="searchnavbar container-fluid">
	<div class="fullsearchbox">
		<input type="text" placeholder="Search" class="inputbox">
		<mat-icon class="inputbox-searchicon">search</mat-icon>
	</div>

	<div class="insidesearchnavbar">
		<span class="flex-spacer"></span>

		<div class="filter">
			<img class="headericonsfilter my-auto" src="../../../assets/Images/icons/filter-icon-png.jpg" alt="Image filter">
			<p class="filtertext">Filter</p>
		</div>

		<div class="shortby">
			<mat-icon class="headericons"> import_export</mat-icon>
			<p class="Sortbytext  mt-2">Sort By</p>
			<mat-icon class="keyboard_arrow_down">keyboard_arrow_down</mat-icon>
		</div>

	</div>
</div>



