<div class="container">
    <div class="row ms-1" >
    <div class="col-sm-4 changes-details-card border me-1">
        <p>REQUESTED BY</p>
        <p><img src="../../../assets/Images/profile_images/employee1.png" class="rounded-circle" alt="image">Christian Bale</p>
        <p>2 Jan 2023</p>
    </div>
    <!--  -->
    <div class="col-sm-4 changes-details-card border me-1">
        <p>REQUESTED BY</p>
        <p><img src="../../../assets/Images/profile_images/employee1.png" class="rounded-circle" alt="image">Christian Bale</p>
        <p>2 Jan 2023</p>
    </div>
    <!--  -->
    <div class="col-sm-4 changes-details-card border">
        <p>REQUESTED BY</p>
        <p><img src="../../../assets/Images/profile_images/employee1.png" class="rounded-circle" alt="image">Christian Bale</p>
        <p class="">2 Jan 2023</p>
    </div>
 </div>
</div>
