<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 box-shadow-right-side login-page-padding-container">
            <img src="../../assets/Images/logos/logo.png" alt="Loginpage_xLogo">
            <div class="pt-5 mt-5">
                <h3 class="fw-bold fs-5 my-0">Check your Inbox</h3>
                <h3 class="login-checkinbox-message">We’ve just emailed you a temporary password. Please enter it
                    below.
                </h3>
                <div>
                    <app-email-field></app-email-field>
                </div>
                <div>
                    <app-password-field></app-password-field>
                </div>
                <app-submit-button routerLink="/signUpAddDetailsPage"></app-submit-button>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to ProManage</h1>
                    <h3>The Ultimate Project Management Tool</h3>
                    <p>ProManage is built with the modern project manager in
                        mind. Our user-friendly
                        interface
                        and powerful
                        features empower you to effortlessly manage projects of any size, from start to finish. Say
                        goodbye to
                        scattered emails, confusing spreadsheets, and endless meetings.</p>
                    <p>With ProManage, you'll have everything you need in one
                        centralized platform.</p>

                    <h4>Start Managing Projects Like a Pro</h4>

                    <p>Sign up for ProManage today and revolutioize the way you plan,
                        execute, and deliver
                        projects.</p>

                    <p>Let's begin</p>
                </div>
            </div>
        </div>
    </div>
</div>