<p class="addchanges-authentication">Enhancement of User Authentication Process</p>
<hr>
<!-- Description  -->
<p class="addchanges-Description">The current authentication system has been identified as
    having potential vulnerabilities and limitations in accommodating future security requirements.
    The proposed enhancements include implementing multi-factor authentication, strengthening password
    policies, and integrating with a more robust identity and access management system.</p>

<!-- reason information -->
<p class="addchanges-reason">Reason : <span class="addchanges-reason-info">This change seeks to improve overall
        system security, reduce the risk of
        unauthorized access, and align the application with industry best practices</span></p>
<hr>