<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 box-shadow-right-side login-page-padding-container">
            <img src="../../assets/Images/logos/logo.png" alt="Loginpage_xLogo">
            <div class="pt-5 mt-5">
                <h3 class="fw-bold fs-5">Sign Up</h3>
                <div>
                    <app-email-field></app-email-field>
                </div>
                <app-signup-button></app-signup-button>
                <div class="account-check-container">
                    <span class="me-2">Already have an account?</span>
                    <a routerLink="/loginPage" class="text-decoration-none">Login</a>
                </div>
                <div class="my-3">
                    <h3 class="horizontal-text-decorator">Or</h3>
                </div>
                <app-sign-in-by-social-media></app-sign-in-by-social-media>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>It looks like you’ve tried to signup with a public web email</h1>
                    <h3>Enter Your Company Email for Enhanced Collaboration</h3>
                    <p>ProManage is designed to work at it’s best when it’s connected to your company email. We believe
                        in fostering effective collaboration within teams, and one way to achieve this is by using your
                        company email.</p>
                    <p>With ProManage, you'll have everything you need in one
                        centralized platform.</p>
                    <h4>
                        <hr>
                    </h4>
                    <p>Unable to use your company email?</p>
                    <h2>Talk to our Support Team</h2>
                </div>
            </div>
        </div>
    </div>
</div>