<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 box-shadow-right-side login-page-padding-container">
            <img src="../../assets/Images/logos/logo.png" alt="Loginpage_xLogo">
            <div class="pt-4 mt-4">
                <h3 class="fw-bold fs-5">Login</h3>
                <div>
                    <app-email-field></app-email-field>
                </div>
                <div>
                    <app-password-field></app-password-field>
                </div>
                <div class="login-page-checkbox mt-4">
                    <mat-checkbox>Remember me</mat-checkbox>
                    <a class="text-decoration-none" routerLink="/forgotPasswordEmailConfirmation">Forgot
                        Password?</a>
                </div>
                <app-login-button></app-login-button>
                <div class="account-check-container">
                    <span class="me-2">Don't have an account?</span>
                    <a routerLink="/signupPage" class="text-decoration-none">Sign Up</a>
                </div>
                <div class="my-3">
                    <h3 class="horizontal-text-decorator">Or</h3>
                </div>
                <app-sign-in-by-social-media></app-sign-in-by-social-media>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 login-page-padding-container login-right-content d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to ProManage</h1>
                    <h3>The Ultimate Project Management Tool</h3>
                    <p>ProManage is built with the modern project manager in
                        mind. Our user-friendly
                        interface
                        and powerful
                        features empower you to effortlessly manage projects of any size, from start to finish. Say
                        goodbye to
                        scattered emails, confusing spreadsheets, and endless meetings.</p>
                    <p>With ProManage, you'll have everything you need in one
                        centralized platform.</p>

                    <h4>Start Managing Projects Like a Pro</h4>

                    <p>Sign up for ProManage today and revolutioize the way you plan,
                        execute, and deliver
                        projects.</p>

                    <p>Let's begin</p>
                </div>
            </div>
        </div>
    </div>
</div>